@font-face {
	font-family: 'Consolas';
	font-style: normal;
	font-weight: 100;
	src: local('Consolas'), local('Consolas'), url(../fonts/Consolas.ttf) format('truetype');
}
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900');
body{
	background: #fff;
	margin: 0 auto;
	font-family: Raleway;
	overflow: hidden;
}

$color-primary: #ffd000;
$color-secondary: #051428;


@import "pages/home";
@import "pages/a-zaga";
@import "pages/services";
@import "pages/portfolio";
@import "pages/contact";
@import "pages/clients";
@import "componentes/menu";


#load{
	background: $color-primary url(../images/load.gif) no-repeat center;
	position: fixed;
	top: 0;
	height: 100vh;
	width: 100vw;
	left: 0;
	z-index: 999999999999999999;
}

footer{
	width: 100%;
	background: $color-secondary;
	border-top: solid 3px $color-primary;
	padding-top: 35px;
	padding-bottom: 35px;
	text-align: center;
	color: #fff;
	a{
		color: rgba(#fff,.5);
	}
}