#a-zaga {
  background: #fcfff7;
  margin: 0;
  display: table;
  width: 100%;
  height: 100vh; }
  #a-zaga h1, #a-zaga h2 {
    margin: 0;
    padding: 0; }
  #a-zaga .container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap; }
    @media screen and (max-width: 1000px) {
      #a-zaga .container {
        width: 80%; } }
    #a-zaga .container .base-title-one {
      width: 40%;
      position: relative; }
      #a-zaga .container .base-title-one h1.title-one {
        width: 100%;
        line-height: 250px;
        text-align: center;
        font-weight: 900;
        font-size: 90px;
        color: #ffd000;
        position: relative;
        z-index: 99; }
      #a-zaga .container .base-title-one:before {
        content: " ";
        display: inline-block;
        width: 100px;
        position: absolute;
        z-index: 9;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-100%);
        height: 100px;
        box-shadow: 0px 0px 0px 20px #051428; }
    #a-zaga .container .text-one {
      width: 60%;
      text-align: right;
      font-weight: 700;
      font-size: 19px;
      display: table;
      height: 250px; }
      #a-zaga .container .text-one p {
        display: table-cell;
        vertical-align: middle; }
    #a-zaga .container .base-title-two {
      width: 50%;
      height: 300px;
      position: relative; }
      #a-zaga .container .base-title-two:before {
        content: "";
        display: inline-block;
        height: 200px;
        width: 200px;
        box-shadow: 0px 0px 0px 20px #ffd000;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%); }
      #a-zaga .container .base-title-two h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        text-align: center;
        font-size: 60px;
        font-weight: 900;
        color: #051428; }
    #a-zaga .container .text-two {
      width: 50%;
      text-align: left;
      font-weight: 700;
      font-size: 19px;
      display: table;
      height: 300px;
      background: url(../images/line.png) no-repeat center top;
      background-size: 300px;
      padding-top: 50px; }
      #a-zaga .container .text-two p {
        display: table-cell;
        vertical-align: middle; }
      #a-zaga .container .text-two .foot-text {
        display: inline-block;
        font-size: 40px;
        text-align: center;
        margin: 0 auto;
        margin-top: 20px;
        width: 100%; }
    @media screen and (max-width: 960px) {
      #a-zaga .container {
        height: auto; }
        #a-zaga .container .base-title-one h1 {
          font-size: 40px !important; }
        #a-zaga .container .base-title-one:before {
          transform: translateX(-50%) translateY(-50%); }
        #a-zaga .container p {
          font-size: 13px !important; }
        #a-zaga .container .base-title-two {
          width: 30%; }
        #a-zaga .container .text-two {
          width: 70%; }
        #a-zaga .container .base-title-two h1 {
          font-size: 30px; }
        #a-zaga .container .base-title-two:before {
          height: 50px;
          width: 50px; } }
    @media screen and (max-width: 582px) {
      #a-zaga .container {
        display: table; }
        #a-zaga .container .base-title-one,
        #a-zaga .container .base-title-two,
        #a-zaga .container .text-one,
        #a-zaga .container .text-two {
          width: 100%;
          text-align: center !important;
          height: auto;
          margin-bottom: 20px; }
        #a-zaga .container .base-title-one,
        #a-zaga .container .base-title-two,
        #a-zaga .container .title-one {
          height: 200px !important; }
        #a-zaga .container p {
          display: table !important; } }
