#clients {
  width: 100%; }
  #clients .content {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: table; }
    #clients .content h1:before {
      content: "_"; }
    #clients .content ul {
      width: 100%;
      list-style: none;
      padding: 0;
      margin: 0 auto;
      display: table; }
      #clients .content ul li {
        width: calc(100% / 3 - 20px);
        height: 100px;
        margin: 10px;
        background: #000;
        float: left; }
        @media screen and (max-width: 425px) {
          #clients .content ul li {
            width: calc(100%/2 - 20px); } }
