#home {
  background: #ffd000;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden; }
  #home .circle {
    background: #051428;
    height: 100vw;
    width: 100vw;
    border-radius: 100%;
    position: absolute;
    bottom: -10px;
    right: -20vw; }
  #home .content {
    width: 70vw;
    height: 100vh;
    margin-left: 30vw;
    position: relative;
    z-index: 1; }
  #home .logo {
    height: 150px;
    display: table;
    margin-left: 5vw;
    width: 300px;
    margin-top: 15px; }
    #home .logo img, #home .logo h1, #home .logo h2 {
      display: inline-block;
      float: left;
      color: #ffd000;
      margin: 0;
      padding: 0; }
    #home .logo img {
      height: 150px;
      width: 102px; }
    #home .logo h1 {
      width: calc(100% - 122px);
      margin-left: 20px;
      font-size: 70px;
      font-weight: 900;
      margin-top: 07.5px; }
    #home .logo h2 {
      font-weight: 400;
      font-size: 45px;
      margin-left: 10px;
      margin-top: -20px; }
  #home .redes {
    width: 180px;
    height: 45px;
    padding: 0;
    margin-top: 0;
    list-style: none;
    position: absolute;
    right: 50px;
    top: 50px;
    display: table; }
    #home .redes li {
      width: 45px;
      height: 45px;
      background: #fff;
      float: left;
      margin-left: 15px;
      background: url(../images/45.png); }
      #home .redes li.email {
        background-position: 0 0; }
      #home .redes li.facebook {
        background-position: -45px -0px; }
      #home .redes li.instagram {
        background-position: -0px -45px; }
  #home .tagshtml {
    font-family: Consolas;
    text-align: center;
    padding-top: 35px; }
    #home .tagshtml .generictag {
      color: #fff;
      display: inline-block;
      width: 100%; }
      #home .tagshtml .generictag h1, #home .tagshtml .generictag h2, #home .tagshtml .generictag h3, #home .tagshtml .generictag h4 {
        padding: 0;
        margin: 0;
        font-size: 16px;
        font-weight: 400;
        font-style: italic; }
      #home .tagshtml .generictag .tag {
        display: inline-block;
        color: #f92672; }
        #home .tagshtml .generictag .tag w {
          color: #ddd !important; }
      #home .tagshtml .generictag > * {
        display: inline-block; }
      #home .tagshtml .generictag h1 {
        font-size: 40px; }
      #home .tagshtml .generictag h2 {
        font-size: 30px; }
      #home .tagshtml .generictag.generic-h2 {
        margin-left: 95px; }
  #home .depoimentos {
    width: 60%;
    color: #fff;
    margin: 0 auto;
    margin-top: 20px; }
    #home .depoimentos h1.title-depoimentos {
      color: #ffd000;
      padding: 0;
      margin: 0;
      border-left: solid 5px #ffd000;
      padding-left: 10px;
      text-align: left; }
    #home .depoimentos .btn {
      height: 45px;
      background: url(../images/45.png);
      background-position: -45px -45px;
      width: 45px;
      margin: 0 auto; }
      #home .depoimentos .btn.btn-down {
        transform: rotate(180deg); }
    #home .depoimentos .slider-depoimentos {
      text-align: center;
      height: 110px;
      position: relative; }
      #home .depoimentos .slider-depoimentos .item {
        position: absolute;
        transition: all 1s;
        width: 100%;
        top: 50%;
        transform: translateY(-50%); }
      #home .depoimentos .slider-depoimentos p {
        font-size: 14px; }
      #home .depoimentos .slider-depoimentos span.author {
        font-weight: 500;
        line-height: 20px; }
        #home .depoimentos .slider-depoimentos span.author:before {
          width: 10px;
          height: 1px;
          background: #fff;
          content: " ";
          display: inline-block;
          position: absolute;
          margin-left: -15px;
          margin-top: 9.5px; }
  @media screen and (max-width: 768px) {
    #home {
      height: auto !important; }
      #home .redes {
        transform: scale(0.4);
        transform-origin: right top;
        top: 15px; }
      #home .logo {
        height: 50px; }
        #home .logo img {
          height: 50px;
          width: 54px; }
        #home .logo h1, #home .logo h2 {
          margin: 0;
          padding: 0;
          width: auto;
          display: inline-block;
          font-size: 30px;
          line-height: 50px; }
      #home .content {
        width: 75vw;
        margin-left: 25vw; }
      #home .depoimentos p {
        font-size: 13px; }
      #home .tagshtml h1, #home .tagshtml h2 {
        font-size: 20px !important; } }
  @media screen and (max-width: 682px) {
    #home {
      background: #051428; }
      #home .circle {
        display: none; }
      #home .content {
        width: 75vw;
        margin-left: 12.5vw;
        height: auto;
        padding-bottom: 30px; } }
  @media screen and (max-width: 452px) {
    #home .content {
      margin-left: 2vw !important;
      width: 96vw; }
    #home .redes {
      right: 0px !important; } }
