#portfolio {
  min-height: calc(100vh - 20px);
  padding-bottom: 20px;
  position: relative; }
  @media screen and (max-width: 768px) {
    #portfolio {
      height: auto !important; } }
  #portfolio .content {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center; }
    #portfolio .content h1.title-sec {
      font-size: 40px;
      color: #051428;
      position: relative; }
      #portfolio .content h1.title-sec:before {
        content: "";
        display: inline-block;
        width: 50px;
        height: 3px;
        background: #051428;
        position: absolute;
        bottom: 0; }
    #portfolio .content .content-projects {
      width: 100%;
      margin: 0 auto;
      max-width: 1000px;
      display: table; }
      #portfolio .content .content-projects .item {
        display: table;
        width: 100%;
        margin-bottom: 30px; }
        #portfolio .content .content-projects .item .openModal {
          cursor: pointer; }
        #portfolio .content .content-projects .item .title {
          font-size: 40px;
          font-weight: 600;
          width: 300px;
          text-align: center; }
        #portfolio .content .content-projects .item .image {
          width: 300px;
          height: 200px;
          background: #ddd;
          float: left;
          overflow: hidden; }
          #portfolio .content .content-projects .item .image .titleinner {
            margin-left: 150px;
            color: #fff;
            text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); }
        #portfolio .content .content-projects .item .info {
          float: left;
          width: calc(100% - 310px);
          margin-left: 10px;
          text-align: left; }
          #portfolio .content .content-projects .item .info .titleout {
            margin-left: -160px;
            position: relative;
            z-index: -999;
            color: #ffd000; }
          #portfolio .content .content-projects .item .info .info-line {
            margin-top: 15px; }
            #portfolio .content .content-projects .item .info .info-line.disablelive {
              opacity: 0.5;
              cursor: not-allowed; }
              #portfolio .content .content-projects .item .info .info-line.disablelive * {
                pointer-events: none; }
            #portfolio .content .content-projects .item .info .info-line .key {
              display: inline-block;
              background: #051428;
              color: #fff;
              font-weight: 700;
              padding-left: 10px;
              padding-right: 10px;
              margin-right: 5px;
              margin-left: 5px; }
            #portfolio .content .content-projects .item .info .info-line .value {
              color: #051428;
              opacity: .6;
              display: inline-block; }
        #portfolio .content .content-projects .item:nth-child(even) .image {
          float: right; }
          #portfolio .content .content-projects .item:nth-child(even) .image .titleinner {
            margin: 0;
            margin-left: -150px; }
        #portfolio .content .content-projects .item:nth-child(even) .info {
          text-align: right;
          margin-left: 0;
          margin-right: 10px; }
          #portfolio .content .content-projects .item:nth-child(even) .info .base-title {
            width: 300px;
            display: inline-block; }
            #portfolio .content .content-projects .item:nth-child(even) .info .base-title .titleout {
              margin: 0;
              margin-left: 160px; }
  #portfolio .see-all {
    background: transparent;
    border: solid 3px #ffd000;
    color: #ffd000;
    font-family: inherit;
    border-radius: 4px;
    line-height: 30px;
    font-size: 18px;
    position: absolute;
    right: 20px;
    top: 10px;
    width: 200px;
    transition: all 0.3s;
    outline: none; }
    @media screen and (max-width: 768px) {
      #portfolio .see-all {
        position: relative;
        margin: 0 auto;
        display: table;
        left: 0;
        top: 0px;
        margin-bottom: 20px; } }
    #portfolio .see-all:hover {
      background: #ffd000;
      color: #fff;
      transition: all 0.3s; }
  #portfolio .modal-portf {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    z-index: 9999999999999999; }
    #portfolio .modal-portf .modal-content {
      width: 95%;
      height: 95%;
      overflow: hidden;
      background: #fff;
      left: 50%;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
      position: relative;
      max-width: 1000px; }
      #portfolio .modal-portf .modal-content .close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        cursor: pointer;
        background: #fff; }
      #portfolio .modal-portf .modal-content .base-image {
        height: calc(100% - 122px);
        margin-bottom: 10px;
        width: 100%; }
        #portfolio .modal-portf .modal-content .base-image .title {
          color: #fff;
          font-weight: 600;
          text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
          font-size: 30px;
          margin-left: 20px; }
        #portfolio .modal-portf .modal-content .base-image .tags {
          color: #fff;
          font-weight: 500;
          text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
          font-size: 20px;
          margin-left: 20px; }
      #portfolio .modal-portf .modal-content .scroll-images {
        height: 112px;
        width: 100%;
        overflow: auto; }
        #portfolio .modal-portf .modal-content .scroll-images .content {
          min-width: 1100px;
          height: 100px;
          display: block; }
          #portfolio .modal-portf .modal-content .scroll-images .content .imagee {
            width: 100px;
            height: 100px;
            background: #fff;
            float: left;
            margin-right: 10px; }
            #portfolio .modal-portf .modal-content .scroll-images .content .imagee.active {
              opacity: .5;
              box-shadow: 0px 0px 0px 1px; }
        #portfolio .modal-portf .modal-content .scroll-images::-webkit-scrollbar {
          height: 10px;
          background-color: #F5F5F5;
          background-color: #ffd000; }
        #portfolio .modal-portf .modal-content .scroll-images::-webkit-scrollbar-thumb {
          background: rgba(0, 0, 0, 0.5); }
  @media screen and (max-width: 768px) {
    #portfolio .titleinner {
      display: none !important; }
    #portfolio .titleout {
      margin: 0 !important; } }
  @media screen and (max-width: 630px) {
    #portfolio .info {
      border-bottom: solid 1px rgba(0, 0, 0, 0.1);
      padding-bottom: 10px;
      width: 100% !important;
      text-align: center; }
      #portfolio .info .base-title {
        width: 100% !important;
        margin: 0 !important; }
      #portfolio .info .title {
        margin: 0 auto !important;
        width: 100% !important; }
      #portfolio .info .info-line {
        display: table;
        margin: 0 auto; }
    #portfolio .image {
      margin: 0 auto !important;
      float: none !important;
      padding-top: 10px; } }

@keyframes bgA {
  0% {
    left: 0;
    top: 0;
    transform: translate(0, 0); }
  100% {
    left: 100%;
    top: 100%;
    transform: translate(-100%, -100%); } }
