@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light");
@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900");
@font-face {
  font-family: 'Consolas';
  font-style: normal;
  font-weight: 100;
  src: local("Consolas"), local("Consolas"), url(../fonts/Consolas.ttf) format("truetype"); }

body {
  background: #fff;
  margin: 0 auto;
  font-family: Raleway;
  overflow: hidden; }

#home {
  background: #ffd000;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden; }
  #home .circle {
    background: #051428;
    height: 100vw;
    width: 100vw;
    border-radius: 100%;
    position: absolute;
    bottom: -10px;
    right: -20vw; }
  #home .content {
    width: 70vw;
    height: 100vh;
    margin-left: 30vw;
    position: relative;
    z-index: 1; }
  #home .logo {
    height: 150px;
    display: table;
    margin-left: 5vw;
    width: 300px;
    margin-top: 15px; }
    #home .logo img, #home .logo h1, #home .logo h2 {
      display: inline-block;
      float: left;
      color: #ffd000;
      margin: 0;
      padding: 0; }
    #home .logo img {
      height: 150px;
      width: 102px; }
    #home .logo h1 {
      width: calc(100% - 122px);
      margin-left: 20px;
      font-size: 70px;
      font-weight: 900;
      margin-top: 07.5px; }
    #home .logo h2 {
      font-weight: 400;
      font-size: 45px;
      margin-left: 10px;
      margin-top: -20px; }
  #home .redes {
    width: 180px;
    height: 45px;
    padding: 0;
    margin-top: 0;
    list-style: none;
    position: absolute;
    right: 50px;
    top: 50px;
    display: table; }
    #home .redes li {
      width: 45px;
      height: 45px;
      background: #fff;
      float: left;
      margin-left: 15px;
      background: url(../images/45.png); }
      #home .redes li.email {
        background-position: 0 0; }
      #home .redes li.facebook {
        background-position: -45px -0px; }
      #home .redes li.instagram {
        background-position: -0px -45px; }
  #home .tagshtml {
    font-family: Consolas;
    text-align: center;
    padding-top: 35px; }
    #home .tagshtml .generictag {
      color: #fff;
      display: inline-block;
      width: 100%; }
      #home .tagshtml .generictag h1, #home .tagshtml .generictag h2, #home .tagshtml .generictag h3, #home .tagshtml .generictag h4 {
        padding: 0;
        margin: 0;
        font-size: 16px;
        font-weight: 400;
        font-style: italic; }
      #home .tagshtml .generictag .tag {
        display: inline-block;
        color: #f92672; }
        #home .tagshtml .generictag .tag w {
          color: #ddd !important; }
      #home .tagshtml .generictag > * {
        display: inline-block; }
      #home .tagshtml .generictag h1 {
        font-size: 40px; }
      #home .tagshtml .generictag h2 {
        font-size: 30px; }
      #home .tagshtml .generictag.generic-h2 {
        margin-left: 95px; }
  #home .depoimentos {
    width: 60%;
    color: #fff;
    margin: 0 auto;
    margin-top: 20px; }
    #home .depoimentos h1.title-depoimentos {
      color: #ffd000;
      padding: 0;
      margin: 0;
      border-left: solid 5px #ffd000;
      padding-left: 10px;
      text-align: left; }
    #home .depoimentos .btn {
      height: 45px;
      background: url(../images/45.png);
      background-position: -45px -45px;
      width: 45px;
      margin: 0 auto; }
      #home .depoimentos .btn.btn-down {
        transform: rotate(180deg); }
    #home .depoimentos .slider-depoimentos {
      text-align: center;
      height: 110px;
      position: relative; }
      #home .depoimentos .slider-depoimentos .item {
        position: absolute;
        transition: all 1s;
        width: 100%;
        top: 50%;
        transform: translateY(-50%); }
      #home .depoimentos .slider-depoimentos p {
        font-size: 14px; }
      #home .depoimentos .slider-depoimentos span.author {
        font-weight: 500;
        line-height: 20px; }
        #home .depoimentos .slider-depoimentos span.author:before {
          width: 10px;
          height: 1px;
          background: #fff;
          content: " ";
          display: inline-block;
          position: absolute;
          margin-left: -15px;
          margin-top: 9.5px; }
  @media screen and (max-width: 768px) {
    #home {
      height: auto !important; }
      #home .redes {
        transform: scale(0.4);
        transform-origin: right top;
        top: 15px; }
      #home .logo {
        height: 50px; }
        #home .logo img {
          height: 50px;
          width: 54px; }
        #home .logo h1, #home .logo h2 {
          margin: 0;
          padding: 0;
          width: auto;
          display: inline-block;
          font-size: 30px;
          line-height: 50px; }
      #home .content {
        width: 75vw;
        margin-left: 25vw; }
      #home .depoimentos p {
        font-size: 13px; }
      #home .tagshtml h1, #home .tagshtml h2 {
        font-size: 20px !important; } }
  @media screen and (max-width: 682px) {
    #home {
      background: #051428; }
      #home .circle {
        display: none; }
      #home .content {
        width: 75vw;
        margin-left: 12.5vw;
        height: auto;
        padding-bottom: 30px; } }
  @media screen and (max-width: 452px) {
    #home .content {
      margin-left: 2vw !important;
      width: 96vw; }
    #home .redes {
      right: 0px !important; } }

#a-zaga {
  background: #fcfff7;
  margin: 0;
  display: table;
  width: 100%;
  height: 100vh; }
  #a-zaga h1, #a-zaga h2 {
    margin: 0;
    padding: 0; }
  #a-zaga .container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap; }
    @media screen and (max-width: 1000px) {
      #a-zaga .container {
        width: 80%; } }
    #a-zaga .container .base-title-one {
      width: 40%;
      position: relative; }
      #a-zaga .container .base-title-one h1.title-one {
        width: 100%;
        line-height: 250px;
        text-align: center;
        font-weight: 900;
        font-size: 90px;
        color: #ffd000;
        position: relative;
        z-index: 99; }
      #a-zaga .container .base-title-one:before {
        content: " ";
        display: inline-block;
        width: 100px;
        position: absolute;
        z-index: 9;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-100%);
        height: 100px;
        box-shadow: 0px 0px 0px 20px #051428; }
    #a-zaga .container .text-one {
      width: 60%;
      text-align: right;
      font-weight: 700;
      font-size: 19px;
      display: table;
      height: 250px; }
      #a-zaga .container .text-one p {
        display: table-cell;
        vertical-align: middle; }
    #a-zaga .container .base-title-two {
      width: 50%;
      height: 300px;
      position: relative; }
      #a-zaga .container .base-title-two:before {
        content: "";
        display: inline-block;
        height: 200px;
        width: 200px;
        box-shadow: 0px 0px 0px 20px #ffd000;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%); }
      #a-zaga .container .base-title-two h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        text-align: center;
        font-size: 60px;
        font-weight: 900;
        color: #051428; }
    #a-zaga .container .text-two {
      width: 50%;
      text-align: left;
      font-weight: 700;
      font-size: 19px;
      display: table;
      height: 300px;
      background: url(../images/line.png) no-repeat center top;
      background-size: 300px;
      padding-top: 50px; }
      #a-zaga .container .text-two p {
        display: table-cell;
        vertical-align: middle; }
      #a-zaga .container .text-two .foot-text {
        display: inline-block;
        font-size: 40px;
        text-align: center;
        margin: 0 auto;
        margin-top: 20px;
        width: 100%; }
    @media screen and (max-width: 960px) {
      #a-zaga .container {
        height: auto; }
        #a-zaga .container .base-title-one h1 {
          font-size: 40px !important; }
        #a-zaga .container .base-title-one:before {
          transform: translateX(-50%) translateY(-50%); }
        #a-zaga .container p {
          font-size: 13px !important; }
        #a-zaga .container .base-title-two {
          width: 30%; }
        #a-zaga .container .text-two {
          width: 70%; }
        #a-zaga .container .base-title-two h1 {
          font-size: 30px; }
        #a-zaga .container .base-title-two:before {
          height: 50px;
          width: 50px; } }
    @media screen and (max-width: 582px) {
      #a-zaga .container {
        display: table; }
        #a-zaga .container .base-title-one,
        #a-zaga .container .base-title-two,
        #a-zaga .container .text-one,
        #a-zaga .container .text-two {
          width: 100%;
          text-align: center !important;
          height: auto;
          margin-bottom: 20px; }
        #a-zaga .container .base-title-one,
        #a-zaga .container .base-title-two,
        #a-zaga .container .title-one {
          height: 200px !important; }
        #a-zaga .container p {
          display: table !important; } }

#services {
  min-height: 100vh;
  background: url(../images/bg.jpg) center;
  background-size: cover; }
  @media screen and (max-width: 768px) {
    #services {
      height: auto !important;
      padding-bottom: 20px; } }
  #services .container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Shadows Into Light'; }
    #services .container h1.title-sec {
      color: #fff;
      margin: 0;
      padding: 0;
      text-align: center;
      font-size: 40px;
      font-weight: 100; }
    #services .container .content-postit {
      display: table;
      width: 100%; }
      #services .container .content-postit .base-postit {
        width: calc(50% - 40px);
        margin: 00px 20px 0 20px;
        float: left; }
        #services .container .content-postit .base-postit .postit {
          background: url(../images/postit.png) no-repeat;
          background-size: contain;
          height: 230px;
          width: 230px;
          margin: 0 auto;
          padding: 10px;
          font-weight: 600;
          font-size: 18px;
          line-height: 18px; }
          #services .container .content-postit .base-postit .postit h2 {
            padding: 0;
            margin: 0; }
        #services .container .content-postit .base-postit img {
          float: left;
          width: 80px;
          padding-right: 10px; }
        #services .container .content-postit .base-postit:nth-child(3), #services .container .content-postit .base-postit:nth-child(4) {
          margin-top: 40px;
          margin-bottom: 40px; }
  @media screen and (max-width: 640px) {
    #services {
      height: auto; }
      #services .base-postit {
        width: calc(100% - 40px) !important;
        margin: 20px !important; } }

#portfolio {
  min-height: calc(100vh - 20px);
  padding-bottom: 20px;
  position: relative; }
  @media screen and (max-width: 768px) {
    #portfolio {
      height: auto !important; } }
  #portfolio .content {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center; }
    #portfolio .content h1.title-sec {
      font-size: 40px;
      color: #051428;
      position: relative; }
      #portfolio .content h1.title-sec:before {
        content: "";
        display: inline-block;
        width: 50px;
        height: 3px;
        background: #051428;
        position: absolute;
        bottom: 0; }
    #portfolio .content .content-projects {
      width: 100%;
      margin: 0 auto;
      max-width: 1000px;
      display: table; }
      #portfolio .content .content-projects .item {
        display: table;
        width: 100%;
        margin-bottom: 30px; }
        #portfolio .content .content-projects .item .openModal {
          cursor: pointer; }
        #portfolio .content .content-projects .item .title {
          font-size: 40px;
          font-weight: 600;
          width: 300px;
          text-align: center; }
        #portfolio .content .content-projects .item .image {
          width: 300px;
          height: 200px;
          background: #ddd;
          float: left;
          overflow: hidden; }
          #portfolio .content .content-projects .item .image .titleinner {
            margin-left: 150px;
            color: #fff;
            text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); }
        #portfolio .content .content-projects .item .info {
          float: left;
          width: calc(100% - 310px);
          margin-left: 10px;
          text-align: left; }
          #portfolio .content .content-projects .item .info .titleout {
            margin-left: -160px;
            position: relative;
            z-index: -999;
            color: #ffd000; }
          #portfolio .content .content-projects .item .info .info-line {
            margin-top: 15px; }
            #portfolio .content .content-projects .item .info .info-line.disablelive {
              opacity: 0.5;
              cursor: not-allowed; }
              #portfolio .content .content-projects .item .info .info-line.disablelive * {
                pointer-events: none; }
            #portfolio .content .content-projects .item .info .info-line .key {
              display: inline-block;
              background: #051428;
              color: #fff;
              font-weight: 700;
              padding-left: 10px;
              padding-right: 10px;
              margin-right: 5px;
              margin-left: 5px; }
            #portfolio .content .content-projects .item .info .info-line .value {
              color: #051428;
              opacity: .6;
              display: inline-block; }
        #portfolio .content .content-projects .item:nth-child(even) .image {
          float: right; }
          #portfolio .content .content-projects .item:nth-child(even) .image .titleinner {
            margin: 0;
            margin-left: -150px; }
        #portfolio .content .content-projects .item:nth-child(even) .info {
          text-align: right;
          margin-left: 0;
          margin-right: 10px; }
          #portfolio .content .content-projects .item:nth-child(even) .info .base-title {
            width: 300px;
            display: inline-block; }
            #portfolio .content .content-projects .item:nth-child(even) .info .base-title .titleout {
              margin: 0;
              margin-left: 160px; }
  #portfolio .see-all {
    background: transparent;
    border: solid 3px #ffd000;
    color: #ffd000;
    font-family: inherit;
    border-radius: 4px;
    line-height: 30px;
    font-size: 18px;
    position: absolute;
    right: 20px;
    top: 10px;
    width: 200px;
    transition: all 0.3s;
    outline: none; }
    @media screen and (max-width: 768px) {
      #portfolio .see-all {
        position: relative;
        margin: 0 auto;
        display: table;
        left: 0;
        top: 0px;
        margin-bottom: 20px; } }
    #portfolio .see-all:hover {
      background: #ffd000;
      color: #fff;
      transition: all 0.3s; }
  #portfolio .modal-portf {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    z-index: 9999999999999999; }
    #portfolio .modal-portf .modal-content {
      width: 95%;
      height: 95%;
      overflow: hidden;
      background: #fff;
      left: 50%;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
      position: relative;
      max-width: 1000px; }
      #portfolio .modal-portf .modal-content .close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        cursor: pointer;
        background: #fff; }
      #portfolio .modal-portf .modal-content .base-image {
        height: calc(100% - 122px);
        margin-bottom: 10px;
        width: 100%; }
        #portfolio .modal-portf .modal-content .base-image .title {
          color: #fff;
          font-weight: 600;
          text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
          font-size: 30px;
          margin-left: 20px; }
        #portfolio .modal-portf .modal-content .base-image .tags {
          color: #fff;
          font-weight: 500;
          text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
          font-size: 20px;
          margin-left: 20px; }
      #portfolio .modal-portf .modal-content .scroll-images {
        height: 112px;
        width: 100%;
        overflow: auto; }
        #portfolio .modal-portf .modal-content .scroll-images .content {
          min-width: 1100px;
          height: 100px;
          display: block; }
          #portfolio .modal-portf .modal-content .scroll-images .content .imagee {
            width: 100px;
            height: 100px;
            background: #fff;
            float: left;
            margin-right: 10px; }
            #portfolio .modal-portf .modal-content .scroll-images .content .imagee.active {
              opacity: .5;
              box-shadow: 0px 0px 0px 1px; }
        #portfolio .modal-portf .modal-content .scroll-images::-webkit-scrollbar {
          height: 10px;
          background-color: #F5F5F5;
          background-color: #ffd000; }
        #portfolio .modal-portf .modal-content .scroll-images::-webkit-scrollbar-thumb {
          background: rgba(0, 0, 0, 0.5); }
  @media screen and (max-width: 768px) {
    #portfolio .titleinner {
      display: none !important; }
    #portfolio .titleout {
      margin: 0 !important; } }
  @media screen and (max-width: 630px) {
    #portfolio .info {
      border-bottom: solid 1px rgba(0, 0, 0, 0.1);
      padding-bottom: 10px;
      width: 100% !important;
      text-align: center; }
      #portfolio .info .base-title {
        width: 100% !important;
        margin: 0 !important; }
      #portfolio .info .title {
        margin: 0 auto !important;
        width: 100% !important; }
      #portfolio .info .info-line {
        display: table;
        margin: 0 auto; }
    #portfolio .image {
      margin: 0 auto !important;
      float: none !important;
      padding-top: 10px; } }

@keyframes bgA {
  0% {
    left: 0;
    top: 0;
    transform: translate(0, 0); }
  100% {
    left: 100%;
    top: 100%;
    transform: translate(-100%, -100%); } }

#contact {
  min-height: 100vh;
  height: auto;
  position: relative;
  background: #00f;
  overflow: hidden;
  display: flex; }
  #contact .partA {
    width: calc(70vw - 30px);
    height: calc(100vh - 60px);
    flex: 7;
    background: url(../images/97.jpg) center;
    background-size: cover;
    padding: 30px;
    color: #fff;
    display: table; }
    #contact .partA .pos-center {
      max-width: 30vw;
      width: auto;
      margin: 0 auto;
      display: table-cell;
      vertical-align: middle;
      padding-left: 180px; }
    #contact .partA input, #contact .partA textarea, #contact .partA button {
      outline: none;
      appearance: none;
      border: none;
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      display: block;
      width: calc(100% - 20px);
      margin-left: 10px;
      margin-right: 10px;
      padding: 15px;
      margin-bottom: 2vh;
      font-family: inherit;
      background: rgba(255, 255, 255, 0.8); }
      #contact .partA input::placeholder, #contact .partA textarea::placeholder, #contact .partA button::placeholder {
        color: rgba(0, 0, 0, 0.8); }
    #contact .partA textarea {
      width: calc(100% - 20px) !important; }
    #contact .partA button.btn_submit {
      background: #ffd000;
      font-weight: 600;
      font-size: 18px;
      padding: 0;
      height: 30px;
      width: auto;
      text-align: right;
      display: inline-block;
      width: 200px;
      text-align: center;
      border-radius: 500px;
      cursor: pointer; }
    #contact .partA h1 {
      font-size: 70px;
      padding: 0;
      margin: 0; }
      #contact .partA h1:after {
        content: "_"; }
    #contact .partA form {
      padding-top: 10vh;
      display: table;
      width: 100%; }
      #contact .partA form .line {
        width: 100%; }
        #contact .partA form .line.names input {
          width: calc(50% - 20px);
          float: left; }
        #contact .partA form .line.submit {
          text-align: right; }
  #contact .partB {
    flex: 3;
    min-height: 100vh;
    height: 40px;
    background: #fff;
    display: table;
    width: 30vw;
    box-shadow: 5px 0px 20px #000; }
    #contact .partB .pos-center {
      max-width: 30vw;
      width: auto;
      margin: 0 auto;
      display: table-cell;
      vertical-align: middle; }
      #contact .partB .pos-center ul.redes-s {
        margin: 0 auto;
        display: table;
        padding: 0;
        list-style: none;
        line-height: 30px;
        font-size: 17px; }
        #contact .partB .pos-center ul.redes-s a {
          text-decoration: none; }
          #contact .partB .pos-center ul.redes-s a:hover {
            text-decoration: underline;
            color: #ccc; }
        #contact .partB .pos-center ul.redes-s li {
          color: #999;
          text-decoration: none; }
          #contact .partB .pos-center ul.redes-s li i {
            height: 17px;
            width: 17px;
            background: #000;
            display: inline-block;
            background: url(../images/redes.png);
            background-size: 51px 17px;
            margin-right: 20px;
            transform: scale(1.5);
            transform-origin: left center; }
            #contact .partB .pos-center ul.redes-s li i.instagram {
              background-position: 100% 0%; }
            #contact .partB .pos-center ul.redes-s li i.email {
              background-position: 50% 0%; }
      #contact .partB .pos-center .whatsapp {
        color: #8bab7d;
        width: 200px;
        padding-left: 50px;
        background: url(../images/ico-whatsapp.png) no-repeat;
        background-size: contain;
        display: table;
        margin: 0 auto;
        margin-top: 30px; }
        #contact .partB .pos-center .whatsapp h4, #contact .partB .pos-center .whatsapp h2 {
          padding: 0;
          margin: 0; }
  @media screen and (max-width: 768px) {
    #contact {
      display: block !important; }
      #contact .partA {
        width: calc(100vw - 60px) !important;
        flex: 1 !important;
        min-height: 0; }
      #contact .partB {
        width: 100vw !important;
        flex: 1 !important;
        height: auto !important;
        display: block !important;
        min-height: 0; }
        #contact .partB .pos-center {
          padding-top: 30px;
          padding-bottom: 30px;
          display: table; } }
  @media screen and (max-width: 425px) {
    #contact {
      display: block !important; }
      #contact .partA .pos-center {
        padding: 0 !important; } }

#clients {
  width: 100%; }
  #clients .content {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: table; }
    #clients .content h1:before {
      content: "_"; }
    #clients .content ul {
      width: 100%;
      list-style: none;
      padding: 0;
      margin: 0 auto;
      display: table; }
      #clients .content ul li {
        width: calc(100% / 3 - 20px);
        height: 100px;
        margin: 10px;
        background: #000;
        float: left; }
        @media screen and (max-width: 425px) {
          #clients .content ul li {
            width: calc(100%/2 - 20px); } }

ul.menu {
  width: calc(20vw - 20px);
  padding: 0;
  margin: 0;
  height: auto;
  list-style: none;
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 9999;
  -webkit-text-stroke: 1px #fff;
  font-weight: 900;
  color: #051428;
  transition: all 0.3s; }
  ul.menu li {
    height: 60px;
    position: relative;
    padding-left: 14px;
    font-weight: 900;
    transition: all 0.3s; }
    ul.menu li:before {
      content: " ";
      display: inline-block;
      width: 7px;
      height: 7px;
      background: transparent;
      border-radius: 50%;
      box-shadow: 0px 0px 0px 3px #051428;
      position: absolute;
      left: 0;
      top: 5px; }
    ul.menu li:after {
      content: " ";
      display: inline-block;
      height: 49px;
      width: 3px;
      background: #051428;
      position: absolute;
      left: 2.2px;
      top: 14px; }
    ul.menu li:last-child::after {
      display: none; }
    ul.menu li.seletor {
      height: 8px;
      width: 8px !important;
      background: #000;
      position: absolute;
      top: 4px;
      left: -13px;
      padding: 0;
      margin: 0; }
      ul.menu li.seletor:after, ul.menu li.seletor:before {
        display: none; }
  ul.menu .button-menu {
    display: none;
    position: fixed;
    top: 5px;
    left: 5px;
    background: url(../images/45.png);
    background-position: -90px 0;
    height: 45px;
    width: 45px;
    transform-origin: left top;
    transform: scale(1.3);
    z-index: 9999999; }
  @media screen and (max-width: 682px) {
    ul.menu {
      -webkit-text-stroke: 0px #fff !important;
      font-weight: 100;
      top: 0;
      left: 0;
      transition: all 0.3s; }
      ul.menu li {
        transition: all 0.3s;
        color: #fff;
        line-height: 30px;
        padding: 0;
        margin: 0;
        height: auto;
        width: 100%;
        display: none;
        font-weight: 500; }
        ul.menu li:before, ul.menu li:after {
          display: none; }
      ul.menu .button-menu {
        display: block; }
      ul.menu.active {
        transition: all 0.3s;
        background: #051428;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
        width: 100%;
        text-align: center; }
        ul.menu.active .button-menu {
          left: 0;
          top: 0; }
        ul.menu.active li {
          display: block;
          transition: all 0.3s; }
        ul.menu.active li:nth-child(1) {
          margin-top: 50px; } }

#load {
  background: #ffd000 url(../images/load.gif) no-repeat center;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  left: 0;
  z-index: 999999999999999999; }

footer {
  width: 100%;
  background: #051428;
  border-top: solid 3px #ffd000;
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: center;
  color: #fff; }
  footer a {
    color: rgba(255, 255, 255, 0.5); }
