ul.menu {
  width: calc(20vw - 20px);
  padding: 0;
  margin: 0;
  height: auto;
  list-style: none;
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 9999;
  -webkit-text-stroke: 1px #fff;
  font-weight: 900;
  color: #051428;
  transition: all 0.3s; }
  ul.menu li {
    height: 60px;
    position: relative;
    padding-left: 14px;
    font-weight: 900;
    transition: all 0.3s; }
    ul.menu li:before {
      content: " ";
      display: inline-block;
      width: 7px;
      height: 7px;
      background: transparent;
      border-radius: 50%;
      box-shadow: 0px 0px 0px 3px #051428;
      position: absolute;
      left: 0;
      top: 5px; }
    ul.menu li:after {
      content: " ";
      display: inline-block;
      height: 49px;
      width: 3px;
      background: #051428;
      position: absolute;
      left: 2.2px;
      top: 14px; }
    ul.menu li:last-child::after {
      display: none; }
    ul.menu li.seletor {
      height: 8px;
      width: 8px !important;
      background: #000;
      position: absolute;
      top: 4px;
      left: -13px;
      padding: 0;
      margin: 0; }
      ul.menu li.seletor:after, ul.menu li.seletor:before {
        display: none; }
  ul.menu .button-menu {
    display: none;
    position: fixed;
    top: 5px;
    left: 5px;
    background: url(../images/45.png);
    background-position: -90px 0;
    height: 45px;
    width: 45px;
    transform-origin: left top;
    transform: scale(1.3);
    z-index: 9999999; }
  @media screen and (max-width: 682px) {
    ul.menu {
      -webkit-text-stroke: 0px #fff !important;
      font-weight: 100;
      top: 0;
      left: 0;
      transition: all 0.3s; }
      ul.menu li {
        transition: all 0.3s;
        color: #fff;
        line-height: 30px;
        padding: 0;
        margin: 0;
        height: auto;
        width: 100%;
        display: none;
        font-weight: 500; }
        ul.menu li:before, ul.menu li:after {
          display: none; }
      ul.menu .button-menu {
        display: block; }
      ul.menu.active {
        transition: all 0.3s;
        background: #051428;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
        width: 100%;
        text-align: center; }
        ul.menu.active .button-menu {
          left: 0;
          top: 0; }
        ul.menu.active li {
          display: block;
          transition: all 0.3s; }
        ul.menu.active li:nth-child(1) {
          margin-top: 50px; } }
