
$color-primary: #ffd000;
$color-secondary: #051428;
#a-zaga{
	background:#fcfff7;
	margin: 0;
	display: table;
	width: 100%;
	height: 100vh;
	h1,h2{
		margin: 0;
		padding: 0;
	}
	.container{
		width: 100%;
		max-width: 1000px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		@media screen and (max-width: 1000px){
			width: 80%;
		}
		.base-title-one{
			width: 40%;
			position: relative;
			h1.title-one{
				width: 100%;
				line-height: 250px;
				text-align: center;
				font-weight: 900;
				font-size: 90px;
				color: $color-primary;
				position: relative;
				z-index: 99;
			}
			&:before{
				content: " ";
				display: inline-block;
				width: 100px;
				position: absolute;
				z-index: 9;
				top: 50%;left: 50%;
				transform: translateY(-50%) translateX(-100%);
				height: 100px;
				box-shadow: 0px 0px 0px 20px $color-secondary;
			}
		}
		.text-one{
			width: 60%;
			text-align: right;
			font-weight: 700;
			font-size: 19px;
			display: table;
			height: 250px;
			p{
				display: table-cell;
				vertical-align: middle;
			}
		}
		.base-title-two{
			width: 50%;
			height: 300px;
			position: relative;
			&:before{
				content: "";
				display: inline-block;
				height: 200px;
				width: 200px;
				box-shadow: 0px 0px 0px 20px $color-primary;
				position: absolute;
				top: 50%;left: 50%;
				transform: translateY(-50%) translateX(-50%);
			}
			h1{
				position: absolute;
				top: 50%;left: 50%;
				transform: translateY(-50%) translateX(-50%);
				text-align: center;
				font-size: 60px;
				font-weight: 900;
				color: $color-secondary;
			}
		}
		.text-two{
			width: 50%;
			text-align: left;
			font-weight: 700;
			font-size: 19px;
			display: table;
			height: 300px;
			background: url(../images/line.png) no-repeat center top;
			background-size: 300px;
			padding-top: 50px;
			p{
				display: table-cell;
				vertical-align: middle;
			}
			.foot-text{
				display: inline-block;
				font-size: 40px;
				text-align: center;
				margin: 0 auto;
				margin-top: 20px;
				width: 100%;
			}
		}

		@media screen and (max-width: 960px){
			height: auto;
			.base-title-one h1{
				font-size: 40px !important;
			}
			.base-title-one:before{
				transform: translateX(-50%) translateY(-50%);
			}
			p{
				font-size: 13px !important;
			}
			.base-title-two{
				width: 30%;
			}
			.text-two{
				width: 70%;
			}
			.base-title-two h1{
				font-size: 30px;
			}
			.base-title-two:before{
				height: 50px;
				width: 50px;
			}
		}
		@media screen and (max-width: 582px){
			display: table;
			.base-title-one,
			.base-title-two,
			.text-one,
			.text-two{
				width: 100%;
				text-align: center !important;
				height: auto;
				margin-bottom: 20px;
			}

			.base-title-one,
			.base-title-two,
			.title-one{
				height: 200px !important;
			}
			p{
				display: table !important;
			}
		}

	}
}