#clients{
	width: 100%;
	.content{
		width: 100%;
		max-width: 1000px;
		margin: 0 auto;
		display: table;
		h1{
			&:before{
				content:"_";
			}
		}
		ul{
			width: 100%;
			list-style: none;
			padding: 0;
			margin: 0 auto;
			display: table;
			li{
				width: calc(100% / 3 - 20px);
				height: 100px;
				margin: 10px;
				background: #000;
				float: left;
				@media screen and (max-width: 425px){
					width: calc(100%/2 - 20px);
				}
			}
		}
	}
}