

$color-primary: #ffd000;
$color-secondary: #051428;
#contact{
	min-height: 100vh;
	height: auto;
	position: relative;
	background: #00f;
	overflow: hidden;
	display: flex;
	.partA{
		width: calc(70vw - 30px);
		height: calc(100vh - 60px);
		flex: 7;
		background: url(../images/97.jpg) center;
		background-size: cover;
		padding: 30px;
		color: #fff;
		display: table;
		.pos-center{
			max-width: 30vw;
			width: auto;
			margin: 0 auto;
			display: table-cell;
			vertical-align: middle;
			padding-left: 180px;
		}
		input,textarea,button{
			outline: none;
			appearance: none;
			border: none;
			padding: 0;
			margin: 0;
			box-sizing:border-box;
			display: block;
			width: calc(100% - 20px);
			margin-left: 10px;
			margin-right: 10px;
			padding: 15px;
			margin-bottom: 2vh;
			font-family: inherit;
			background: rgba(#fff,.8);
			&::placeholder{
				color:rgba(#000,.8);
			}
		}
		textarea{
			width: calc(100% - 20px) !important;
		}
		button.btn_submit{
			background: $color-primary;
			font-weight: 600;
			font-size: 18px;
			padding: 0;
			height: 30px;
			width: auto;
			text-align: right;
			display: inline-block;
			width: 200px;
			text-align: center;
			border-radius: 500px;
			cursor: pointer;
		}
		h1{
			font-size: 70px;
			padding: 0;
			margin: 0;
			&:after{
				content: "_";
			}
		}
		form{
			padding-top: 10vh;
			display: table;
			width: 100%;
			.line{
				width: 100%;
				&.names input{
					width: calc(50% - 20px);
					float: left;
				}
				&.submit{
					text-align: right;
				}
			}
		}
	}
	.partB{
		flex: 3;
		min-height: 100vh;
		height: 40px;
		//height: auto;
		background: #fff;
		display: table;
		width: 30vw;
		box-shadow: 5px 0px 20px #000;
		.pos-center{
			max-width: 30vw;
			width: auto;
			margin: 0 auto;
			display: table-cell;
			vertical-align: middle;
			ul.redes-s{
				margin: 0 auto;
				display: table;
				padding: 0;
				list-style: none;
				line-height: 30px;
				font-size: 17px;
				a{text-decoration: none;&:hover{text-decoration:underline;color:#ccc}}
				li{
					color: #999;
					text-decoration: none;
					i{
						height: 17px;
						width: 17px;
						background: #000;
						display: inline-block;
						background: url(../images/redes.png);
						background-size: 51px 17px;
						margin-right: 20px;
						transform: scale(1.5);
						transform-origin: left center;
						&.instagram{
							background-position: 100% 0%
						}
						&.email{
							background-position: 50% 0%
						}
					}
				}
			}
			.whatsapp{
				color: #8bab7d;
				width: 200px;
				padding-left: 50px;
				background: url(../images/ico-whatsapp.png) no-repeat;
				background-size: contain;
				display: table;
				margin: 0 auto;
				margin-top: 30px;
				h4,h2{
					padding: 0;
					margin: 0;
				}
			}
		}
	}
	@media screen and (max-width: 768px){
		display: block !important;
		.partA{
			width: calc(100vw - 60px) !important;
			flex: 1 !important;
			min-height: 0;
		}
		.partB{
			width: 100vw !important;
			flex: 1 !important;
			height: auto !important;
			display: block !important;
			min-height: 0;
			.pos-center{
				padding-top: 30px;
				padding-bottom: 30px;
				display: table;
			}
		}
	}
	@media screen and (max-width: 425px){
		display: block !important;
		.partA{
			.pos-center{
				padding: 0 !important;
			}
		}
	}
}
