$color-primary: #ffd000;
$color-secondary: #051428;
#home{
	background: $color-primary;
	height: 100vh;
	width: 100%;
	position: relative;
	overflow: hidden;
	.circle{
		background: $color-secondary;
		height: 100vw;
		width: 100vw;
		border-radius: 100%;
		position: absolute;
		bottom: -10px;
		right: -20vw;
	}
	.content{
		width: 70vw;
		height: 100vh;
		margin-left: 30vw;
		position: relative;
		z-index: 1;
	}
	.logo{
		height: 150px;
		display: table;
		margin-left: 5vw;
		width: 300px;
		margin-top: 15px;
		img,h1,h2{
			display: inline-block;
			float: left;
			color: $color-primary;
			margin: 0;
			padding: 0;
		}
		img{
			height: 150px;
			width: 102px;
		}
		h1{
			width: calc(100% - 122px);
			margin-left: 20px;
			font-size: 70px;
			font-weight: 900;
			margin-top: 07.5px;
		}
		h2{
			font-weight: 400;
			font-size: 45px;
			margin-left: 10px;
			margin-top: -20px;
		}
	}
	.redes{
		width: 180px;
		height: 45px;
		padding: 0;
		margin-top: 0;
		list-style: none;
		position: absolute;
		right: 50px;
		top: 50px;
		display: table;
		li{
			width: 45px;
			height: 45px;
			background: #fff;
			float: left;
			margin-left: 15px;
			background: url(../images/45.png);
			&.email{
				background-position: 0 0;;
			}
			&.facebook{
				background-position: -45px -0px;
			}
			&.instagram{
				background-position: -0px -45px;
			}

		}
	}
	.tagshtml{
		font-family: Consolas;
		text-align: center;
		padding-top: 35px;
		.generictag{
			color: #fff;
			display: inline-block;
			width:100%;
			h1,h2,h3,h4{padding: 0;margin: 0;font-size: 16px;font-weight: 400;font-style: italic;}
			.tag{
				display: inline-block;
				color: #f92672;
				& w{
					color:#ddd !important;
				}
			}
			> *{
				display: inline-block;
			}
			h1{
				font-size: 40px;
			}
			h2{
				font-size: 30px;
			}
			&.generic-h2{
				margin-left: 95px;
			}
		}
	}
	.depoimentos{
		width: 60%;
		color:#fff;
		margin: 0 auto;
		margin-top: 20px;
		h1.title-depoimentos{
			color: $color-primary;
			padding: 0;
			margin: 0;
			border-left: solid 5px $color-primary;
			padding-left: 10px;
			text-align: left;
		}
		.btn{
			height: 45px;
			background: url(../images/45.png);
			background-position:  -45px -45px;
			width: 45px;
			margin: 0 auto;
			&.btn-down{
				transform: rotate(180deg);
			}
		}
		.slider-depoimentos{
			text-align: center;
			height: 110px;
			position: relative;
			.item{
				position: absolute;
				transition: all 1s;
				width: 100%;
				top: 50%;
				transform: translateY(-50%);

			}
			p{
				font-size: 14px;
			}
			span.author{
				font-weight: 500;
				line-height: 20px;
				&:before{
					width:10px;
					height: 1px;
					background: #fff;
					content: " ";
					display: inline-block;
					position: absolute;
					margin-left: -15px;
					margin-top: 9.5px;
				}
			}
		}
	}
	@media screen and (max-width: 768px){
		height: auto !important;
		.redes{
			transform: scale(0.4);
			transform-origin: right top;
			top: 15px;
		}
		.logo{
			height: 50px;
			img{
				height: 50px;
				width: 54px;
			}
			h1,h2{
				margin: 0;
				padding: 0;
				width: auto;
				display: inline-block;
				font-size: 30px;
				line-height: 50px;
			}
		}
		.content{
			width: 75vw;
			margin-left: 25vw;
		}
		.depoimentos p{
			font-size: 13px;
		}
		.tagshtml{
			h1,h2{
				font-size: 20px !important;
			}
		}
	}
	@media screen and (max-width: 682px){
		background: $color-secondary;
		.circle{
			display: none;
		}
		.content{
			width: 75vw;
			margin-left: 12.5vw;
			height: auto;
			padding-bottom: 30px;
		}
	}
	@media screen and (max-width: 452px){
		.content{
			margin-left: 2vw !important;
			width: 96vw;
		}
		.redes{
			right: 0px !important;
		}
	}
}
