
$color-primary: #ffd000;
$color-secondary: #051428;
#portfolio{
	min-height: calc(100vh - 20px);
	padding-bottom: 20px;
	position: relative;

	@media screen and (max-width: 768px){height: auto !important;}
	.content{
		width: 100%;
		max-width: 1000px;
		margin: 0 auto;
		text-align: center;
		h1.title-sec{
			font-size: 40px;
			color: $color-secondary;
			position: relative;
			&:before{
				content: "";
				display: inline-block;
				width: 50px;height: 3px;
				background: $color-secondary;
				position: absolute;
				bottom: 0;
			}
		}
		.content-projects{
			width: 100%;
			margin: 0 auto;
			max-width: 1000px;
			display: table;
			.item{
				display: table;
				width: 100%;
				margin-bottom: 30px;
				.openModal{
					cursor: pointer;
				}
				.title{
					font-size: 40px;
					font-weight: 600;
					width: 100%;
					text-align: left;
				}
				.image{
					width: 400px;
					height: 250px;
					background: #ddd;
					float: left;
					overflow: hidden;
					.titleinner{
						display: none;
						margin-left: 200px;
						color: #fff;
						text-shadow: 0px 0px 10px rgba(#000,.5);
					}
				}
				.info{
					float: left;
					width: calc(100% - 410px);
					margin-left: 10px;
					text-align: left;
					.titleout{
						text-align: left;
						//margin-left: -210px;
						margin-left: 10px;
						position: relative;
						z-index: -999;
						color: $color-primary;
						span{
							background: $color-secondary;
							box-shadow: -10px 0px 0px $color-secondary, 10px 0px 0px $color-secondary;
						}
					}
					.info-line{
						margin-top: 15px;
						&.disablelive{
							opacity: 0.5;
							cursor: not-allowed;
							*{
								pointer-events: none;
							}
						}
						.key{
							display: inline-block;
							background: $color-secondary;
							color: #fff;
							font-weight: 700;
							padding-left: 10px;
							padding-right: 10px;
							margin-right: 5px;
							margin-left: 5px;
						}
						.value{
							color: $color-secondary;
							opacity: .6;
							display: inline-block;
						}
					}
				}
				&:nth-child(even){
					.image{
						float: right;
						/*.titleinner{
							margin: 0;
							margin-left: -200px;
						}*/
					}
					.info{
						text-align: right;
						margin-left: 0;
						margin-right: 10px;
						.base-title{
							width: 400px;
							display: inline-block;
							.titleout{
								margin: 0;
								//margin-left: 210px;
								margin-left: -10px;
							}
						}
					}
					.title{
						text-align: right;
					}
				}
			}
		}
	}

	.see-all{
		background: transparent;
		border: solid 3px $color-primary;
		color: $color-primary;
		font-family: inherit;
		border-radius: 4px;
		line-height: 30px;
		font-size: 18px;
		width: 200px;
		transition: all 0.3s;
		outline: none;
		@media screen and (max-width: 768px){position:relative;margin: 0 auto;display: table;left:0;top:0px;margin-bottom: 20px;}
		&:hover{
			background: $color-primary;
			color: #fff;
			transition: all 0.3s;
		}
	}
	.modal-portf{
		display: none;
		position: fixed;
		height: 100%;
		width: 100%;
		background: rgba(#000,.8);
		top: 0;
		left: 0;
		z-index: 9999999999999999;
		.modal-content{
			width: 95%;
			height: 95%;
			overflow: hidden;
			background: #fff;
			left: 50%;
			top: 50%;
			transform: translateY(-50%) translateX(-50%);
			position: relative;
			max-width: 1000px;
			.close{
				position: absolute;
				top: 0;
				right: 0;
				padding: 10px;
				cursor: pointer;
				background: #fff;
			}
			.base-image{
				height: calc(100% - 122px);
				margin-bottom: 10px;
				width: 100%;
				.title{
					color: #fff;
					font-weight: 600;
					text-shadow: 0px 0px 4px rgba(#000,.6);
					font-size: 30px;
					margin-left: 20px;
				}
				.tags{
					color: #fff;
					font-weight: 500;
					text-shadow: 0px 0px 4px rgba(#000,.6);
					font-size: 20px;
					margin-left: 20px;
				}
			}
			.scroll-images{
				height: 112px;
				width: 100%;
				overflow: auto;
				.content{
					min-width: 1100px;
					height: 100px;
					display: block;
					.imagee{
						width: 100px;
						height: 100px;
						background: #fff;
						float: left;
						margin-right: 10px;	
						&.active{
							opacity: .5;
							box-shadow: 0px 0px 0px 1px;
						}
					}
				}
				&::-webkit-scrollbar{
					height: 10px;
					background-color: #F5F5F5;
					background-color: $color-primary;
				}
				&::-webkit-scrollbar-thumb{
					background: rgba(#000,.5)
				}
			}
		}
	}
	@media screen and(max-width: 826px){
		.info{
			border-bottom: solid 1px rgba(#000,.1);
			padding-bottom: 10px;
			width: 100% !important;
			text-align: center;
			.base-title{
				width: 100% !important;
				margin:0 !important;
			}
			.title{
				margin: 0 auto !important;
				width: 100% !important;
				text-align: center !important;
				margin-top: 10px !important;
			}
			.info-line{
				display: table;
				margin: 0 auto;
			}
		}
		.image{
			margin: 0 auto !important;
			float: none !important;
			padding-top: 10px;
		}
	}
}
@keyframes bgA {
	0%{
		left: 0;
		top: 0;
		transform: translate(00,0);
	}
	100%{
		left: 100%;
		top: 100%;
		transform: translate(-100%,-100%);
	}
}