#services{
	min-height: 100vh;
	background: url(../images/bg.jpg) center;
	background-size: cover;
	@media screen and (max-width: 768px){height: auto !important;padding-bottom: 20px}
	.container{
		width: 100%;
		max-width: 1000px;
		margin: 0 auto;
		font-family: 'Shadows Into Light';
		h1.title-sec{
			color: #fff;
			margin:0;
			padding: 0;
			text-align: center;
			font-size: 40px;
			font-weight: 100;
		}
		.content-postit{
			display: table;
			width: 100%;
			.base-postit{
				width: calc(50% - 40px);
				margin: 00px 20px 0 20px;
				float: left;
				.postit{
					background: url(../images/postit.png) no-repeat;
					background-size: contain;
					height: 230px;
					width: 230px;
					margin: 0 auto;
					padding: 10px;
					font-weight: 600;
					font-size: 18px;
					line-height: 18px;
					h2{
						padding: 0;
						margin: 0;
					}
				}
				img{
					float: left;
					width: 80px;
					padding-right: 10px;
				}
				&:nth-child(3),&:nth-child(4){
					margin-top: 40px;
					margin-bottom: 40px;
				}
			}
		}
	}
	@media screen and (max-width: 640px){
		height: auto;
		.base-postit{
			width: calc(100% - 40px;) !important;
			margin: 20px !important;
		}
	}
}